 textarea{
	outline: 0;
	overflow:hidden;/*hide scroll buttons*/
	border-style:none;/*hide borders*/
	opacity: 0.5;
	border-radius: 10px;
	resize:none;/*no angle in right bottom corner*/
	width:90%;
 }
 .chat__header{
 	min-height: 40px;
 	background-color: green;
 	color: white;
 	display: flex;
 	justify-content:space-around;
 	align-items:center;
 }
 .chat__messages{
 	list-style: none;
 	padding: 15px;
 	overflow-y: auto;
 	height:300px;
 }
 .chat__header__btn,
 input[class='submitName']{
 	background-color: #66ff66;
 	border-radius: 15px;
 	padding:5px;
 	opacity: 0.75;
 	color: green;
 	font-weight: bold;
 }
 li div{
 	margin-bottom: 5px;
 }
 .chat__messages__msg{
 	padding:10px;
 	display: flex;
 	flex-direction: column;
 }
.chat__messages__msg__text{
	background-color: #E6E6E6;
	padding: 5px;
	border-radius: 10px;
}
.chat__messages__msg__time{
	color:navy;
	font-style: italic;
}
.chat__messages__msg__avatar>img{
    border-radius: 50%;
    background-color: green;
}
.chat__messages::-webkit-scrollbar{
    width:12px;
}
.chat__messages::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: green;
}
.chat__messages::-moz-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: green;
}
.chat__messages::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #9FF781;
}
form{
 	margin-top: 20px;
 	padding:15px;
 }
.form__sendBtn{
 	background-color: #66ff66;
 	border-radius: 15px;
 	width:75px;
 	opacity: 0.75;
 }
.js-app{
	display: flex;
	flex-direction:column;
	justify-content:space-between;
	min-height: 480px;
	width:50%;
	border-style: none;
	overflow-wrap:break-word;
	box-shadow: inset 0 0 11px green;
	margin-left:25%;
}
.modal{
    margin-top: -950px;
    margin-left: 35%;
    width:30%;
    z-index: 2;
    position: relative;/*for z-index*/ 
    background-color: white;
}
.modal-ava{
    /*margin-top: -950px;*/
    margin-left: 35%;
    width:30%;
    z-index: 2;
    position: relative;/*for z-index*/ 
    background-color: white;
}
.modal>form,
.modal-ava>form{
    border:1px solid green;
    box-shadow: inset 0 0 11px green;
    display:flex;
    justify-content:space-between;
}
label>input{
    margin-top: 5px;
}
label{
    color:green;
}
@media screen and (max-width: 321px) {
    .js-app {
        width: 95%;
        margin-left:8px;
    }
}
@media screen and (min-width: 322px) and (max-width: 481px){
    .js-app {
        width: 85%;
        margin-left:7.5%;
    }
}
@media screen and (min-width: 482px) and (max-width: 731px){
    .js-app {
        width: 75%;
        margin-left:12.5%;
    }
}



