 textarea{
	outline: 0;
	overflow:hidden;/*hide scroll buttons*/
	border-style:none;/*hide borders*/
	opacity: 0.5;
	border-radius: 10px;
	resize:none;/*no angle in right bottom corner*/
	width:90%;
 }
 .chat__header{
 	min-height: 40px;
 	background-color: green;
 	color: white;
 	display: flex;
 	justify-content:center;
 	align-items:center;
 }
 .chat__messages{
 	list-style: none;
 	padding: 15px;
 	overflow-y: auto;
 	height:200px;
 }
 li div{
 	margin-bottom: 5px;
 }
 .chat__messages__msg{
 	padding:10px;
 	display: flex;
 	flex-direction: column;
 }
.chat__messages__msg__text{
	background-color: #E6E6E6;
	padding: 5px;
	border-radius: 10px;
}
.chat__messages__msg__time{
	color:navy;
	font-style: italic;
}
.chat__messages::-webkit-scrollbar{
    width:12px;
}
.chat__messages::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: green;
}
.chat__messages::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #9FF781;
}
form{
 	margin-top: 20px;
 	padding:15px;
 }
.form__sendBtn{
 	background-color: #66ff66;
 	border-radius: 15px;
 	width:75px;
 	opacity: 0.75;
 }
.js-app{
	display: flex;
	flex-direction:column;
	justify-content:space-between;
	min-height: 400px;
	height: 450px;
	width:50%;
	border-style: none;
	overflow-wrap:break-word;
	box-shadow: inset 0 0 11px green;
	margin-left:25%;
}



